<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    <textarea id="textArea" rows="3" style="width: 600px; height:300px"></textarea>
    <br /><button id="btn" style="width: 50px;height:30PX">请求</button>
    <script>
        let chat = document.getElementById("con");
        const textArea = document.getElementById("textArea");
        const btn = document.getElementById('btn');
        btn.addEventListener('click', function () {
           alert(1)
        });
    </script>
</body>

</html>